/*Append * to label of required fields*/
label.required:after {
    content:" * ";
    color:red;
}

/* Append to NavBar */
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 4px;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 30px;
    margin-top: 74px;

  }
  
  .trigger:hover {
    color: #1890ff;
  }
  .img{
    width: 200px;
    height: 75px;
    margin-left: 0px;
    transition: all 0.2s;
  }
  .img1{
      width:80px;
      height : 75px;
      transition: all 0.2s;
  }
  .sidebar {
      height: 100vh;
  }
  .margin-20{
      margin: 20px 20px;
  }
  .ant-menu-item a {
    text-decoration: none;
  }
  .ant-menu-item {
      padding-left: 12px;
  }
  .spacer{
      width: 200px;
      height: 100px;
  }

  .siderWidth{
    width : 200px;
    transition: all 0.2s

  }

  .collapsableWidth{
    width : 80px;
    transition: all 0.2s
  }
 

  .sider{
    height: 100vh;
    position: fixed;
    left: 0;
  }


  .content{
    margin: 20px;
  }

  .layout{
    margin-left: 15px;
  }
.active{
  color: yellow;
  
}
 

 div.row{
    margin-top:10px;
}

label.ant-form-item-required::after{
    content: "*";
    display: inline-block;
    margin-left: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
}

.ant-form-item-required::before{
    content: ""; 
}

.tab-container{
    min-height: 200px;
    padding: 25px;
    margin: 25px;
}

.marginbutton {
    align-items: center;
  margin: 0 28px 28px 50px;
}

.selectWidth {
  width: 200px;
}
